{% extends 'payment/layout.html' %}


{% block content %}
    <title>Востановление пароля</title>

        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='row'>
                <div class='col-12'>
                    <div class='card' >
                        {{ form.as_p }}
                        {{ result|safe }}
                        <button type="submit" class="btn btn-warning">Отправить</button><br>
                    </div>
                </div>
                
            </div>
        </form>
{% endblock %}