{% extends 'payment/layout.html' %}


{% block content %}
    {% if validlink %}
    <title>Смена пароля</title>
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='row'>
                <div class='col-12'>
                    <div class='card' >
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning">Изменить пароль</button><br>
                    </div>
                </div>
                
            </div>
        </form>
    {% else %}
    <div class='card' >
        <p>Вероятно ссылка неверна или уже была использована</p>
    </div>
    {% endif %}
{%endblock%}