{% extends 'payment/layout.html' %}

{% block title %}
    <title>Профиль</title>
{% endblock %}

{% block content %}
<body class="text-center">
    <form method='post' class="form text-center" enctype="multipart/form-data">
        {% csrf_token %}
        <div class='row'>
            <div class='col-12'>
                <div class='card text-center'>
                    {{ form.as_p }}
                    <a href="{% url 'change_password' %}" class="btn btn-outline-primary mx-auto" style='margin-top: 5px; margin-bottom: 5px; width:160px; display: block;'>Сменить пароль</a>
                    <button type="submit" class="btn btn-warning mx-auto" style='margin-top: 5px; margin-bottom: 5px; width:160px; display: block;'>Сохранить</button>
                    <a class="btn btn-primary btn-block mx-auto" style='margin-top: 5px; margin-bottom: 5px; width:160px; display: block;' href="{% url 'logout' %}">Выйти</a>

                </div>
            </div>
        </div>
    </form>
</body>
{% endblock %}
