{% extends 'payment/layout.html' %}

{% block content %}
    <head>
        <title>О нас</title>
        <style>
            body {
                text-align: center;
                margin: 50px;
            }

            h1 {
                color: #3366cc;
            }

            p {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>О нас</h1>
        <p>Мы - ваша компания, занимающаяся чем-то важным и увлекательным.</p>
    </body>
</html>
{% endblock %}
